<a href="https://colab.research.google.com/github/Maryvenns/1-z-10/blob/main/implementacja_kontekst_i_ewaluacja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install transformers
!pip install python-levenshtein

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.16.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.10.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: tokenizers!=0.11.3,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.4)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [ ]:
import pandas as pd
import requests
import requests
import Levenshtein
from transformers import pipeline

In [ ]:
answers = requests.get('https://raw.githubusercontent.com/pochu1337/qa/main/Odpowiedzi')
context = requests.get('https://raw.githubusercontent.com/pochu1337/qa/main/context')
questions = requests.get('https://raw.githubusercontent.com/pochu1337/qa/main/Pytania')
questions = questions.text.split('\n')[:200]
context = context.text.split('\n')[:200]
answers = answers.text.split('\n')[:200]

In [ ]:
qa_pipeline = pipeline(
    "question-answering",
    model="henryk/bert-base-multilingual-cased-finetuned-polish-squad2",
    tokenizer="henryk/bert-base-multilingual-cased-finetuned-polish-squad2"
)

dane = qa_pipeline({
    'context': context,
    'question': questions})

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [ ]:
klucz = requests.get('https://raw.githubusercontent.com/pochu1337/qa/main/Odpowiedzi')
klucz = klucz.text.lower().split('\n')

In [ ]:
dane = [dana['answer'].lower() for dana in dane]
klucz = klucz[:200]

In [ ]:

def lev(dane):
  ilegit = []
  ok = []
  distances = []
  for expect,ours in zip(klucz,dane):
    distances.append((Levenshtein.distance(ours,expect))/(len(expect)/2))
    if (Levenshtein.distance(ours,expect))/(len(expect)/2) <= 0.6:
      ilegit.append(1)
      ok.append(1)
    else:
      ok.append(0)
  return ilegit, ok, distances

In [ ]:
dane_kontekst = ["alfa","cięciwa","egipt","w państwach starożytnych","mazowsze","indiach","102","robót","niektóre owoce kaktusa są jadalne","czterech","szewcy","bekerel","brytyjski","melonik","menisk","alexander graham bell","mo­pa­nek","azot i tlen","szalej jadowity występuje w polsce","tabakiera","punkt zero","paul gauguin","raúlowi","przymierze","raka","montmartre","hipoteza","dokąd idziesz","pan twardowski","cykuta","hawana","james bond","gotyckim","most karola","paryżu","filatelistyka","roman kłosowski","hydrolog","katarzyna cichopek-hakiel","tatrach","dziewiąte wrota","honsiu","główny urząd statystyczny","grecji","szekspira.","fajka","krótki film o miłości","dobry zwyczaj – nie pożyczaj","trzeba beczkę soli","kraków","fatima","dużo, szybko, mało, ładnie","nie","niemnem.","kreol","zestalony dwutlenek węgla","rządy tłumu","londynie.","sokratesa,","nie","trójkąta","wszystkie występują w bałtyku","1943 roku","wynosi 360 .","bitwa pod borodino","sydney","francję","tenisistka","heleny marusarzówny","niższy","święty piotr","środkowej afryce","1182","zygmunt iii waza","południowo wschodniej azji","klondike gold rush national historical park) w stanach zjednoczonych","hermesa","sztrajmł","prezydent","lipskiem","imperium brytyjskiego","zemsta nietoperza","wisłą,","skrzyczne","sprytny","koryfeusz","klucz","1949.","piwo hevelius","piątek","halloween","1888","kijanki","wbc","ludwika xiii","brązie/marmurze","orp błyskawica","julian tuwim","livingstone","maja","katodzie","prawie w całej polsce","mickiewicza.","bolesław iii krzywousty","dobrzynie","owczego","hrabiowskiego","1]","hades","petro poroszenko","zjednoczonych","lancelota","kabaret małże kabaret małże","tadeusza","afryki","marek kondrat","spokojnego;","nautilus","część iii","grottgera","polski","xii wieku.","zaćma (katarakta","jan iii sobieski","trybunał stanu","własnoręcznie","jednorożec","wagnera","canaletto","anawa","bergamutach","foucaulta","sudanie","cesarz napoleon iii","atena partenos","należy ją uprzedzić","larwy mają robakowaty","xix wieku,","70","tomasz","kariot","kradzież obrazu","nony","1964","pieta","george orson welles","dama z łasiczką","partenonu","oslo","marcin luter","rynek byka","spalony","kasztel","19","janina maria ochojska-okońska","senatu","chinach","kara mustafę.","pracownik mennicy","sarp","arnold schwarzenegger","barszcz","malborku,","trzynastozgłoskowcem","całokształt twórczości","kiełbie","młode wilki","bajkonur","kilkanaście milionów lat temu","pawia,","król judei z łaski rzymu.","bullerbyn","paryżu","stare dęby","chrząszcza","mirosław hermaszewski","na każdym trójkącie można opisać okrąg","polio","nie można łączyć","pułkownika.","rtęci","zęby mądrości","karkonosze","wodery","babilonu,","pan wołodyjowski","sejm","zakon franciszkański","kazimierza wielkiego","kanclerzem","litrea o","giermek","obecnie trwa proces jej odbudowy","brazylijski","ernő rubik","jedynym członkiem rodziny żyjącym w starym świecie","deszczu","spór","czechach","1944"]
ilepoprawnych, zaliczone, dystans_L  = lev(dane_kontekst)
#dla ewaluacji dane są wpisane na sztywno dla szybszego testowania

In [ ]:
import pandas as pd

tabela_kontekst = pd.DataFrame(
    {'Odpowiedzi[klucz]': klucz,
     'Odpowiedzi[Wikiepdia]': dane_kontekst,
     'Odległość Levenshteina':dystans_L,
     'Zaliczone':zaliczone,
     })
tabela_kontekst.to_csv('kontekst.csv', index=False)

In [ ]:
tabela_kontekst

    Odpowiedzi[klucz]  ... Zaliczone
0                alfa  ...         1
1             cięciwa  ...         1
2           w egipcie  ...         0
3                 tak  ...         0
4            mazowsze  ...         1
..                ...  ...       ...
195               tak  ...         0
196   złotego deszczu  ...         0
197               nie  ...         0
198        w czechach  ...         1
199            w 1944  ...         0

[200 rows x 4 columns]

In [ ]:
dane_wikipedia = ['Alfa', 'prosta', 'Port Said', 'Głogowie','Actors Studio', 'Indie', '102', 'Budowy Kanału Sueskiego', 'owoce', 'trzy', 'Zygmunt I Stary i Zygmunt II August', 'Dmitrij Mendelejew', 'urugwajski', 'Cylinder', 'wypukły', 'Tapan K. Sarkar', 'Rębajło', 'tlenu', 'Polsce', 'tabaka', 'Środek pęku', 'Matisse', 'Fidelito', 'Królestwo Franków', 'K-2', 'Montmartre', 'kalokagatia', 'Powieść z czasów Nerona', 'Homerze', 'Allelopatia', 'Warszawa', 'Roger Moore', 'renesansowej', '1940', 'Paryżu', 'Nakład tego wydania nie jest znany', 'Andrzej Kopiczyński', 'eocenu', 'Agnieszka Olszewska', 'Tatry', 'Ruth Gordon', 'Hokkaido', 'Deutsche Nationalsozialistische Arbeiterpartei', 'Kreta', 'tłumacz', 'Azazel Pazuzu', 'Podwójne życie Weroniki', 'Hanami', '27', 'Bonn','Fatima', 'Lepiej', 'Defibrylacja jest zabiegiem medycznym', 'Leszek Czarnecki', 'Zanzibar', 'metabolizmu', 'retorzy', 'Londynie.', 'Diogenes z Synopy', 'Zygmunt August Król Polski', '39 metrów', 'małe ryby', '1927 roku', '2π (360°)', 'Bitwa pod Xiaoting', 'Paryż', 'Francja', '', 'Jerzy Stryjecki', 'wyższy', 'Andrzej Apostoł', 'Afryka', '78', 'Aron', 'smaku', 'Ghany', 'Hermesem', 'Cikut', 'Małgorzata Gersdorf', 'Gdańska', 'brytyjskie', '', 'Olzy', 'Radziejowa', 'kobiety', 'Aleksander Etolczyk', 'Armia Czerwona', '1995', 'obserwatorium astronomiczne', '2 października', 'Dzień Kanadyjskiej Flagi', 'koniec lat 40', 'Jaja', 'Futsalu', 'Cumberlanda', 'brązu', 'Błękitna Armia', 'Bolesław Bierut', '', '12 maja','CuSO4', 'Rzadko', 'Stephen King', 'Bolesław Chrobry', 'Przybyszówka', 'kozim', 'Rzeczpospolita Polska', 'tanio', 'Hades', 'Sandra Mason', 'Anglia', 'Bradley James', '', 'Patrick Yoka', 'Indus', 'Grażyna Szapołowska', 'zimny Prąd Zachodnioaustralijski', 'Nautilus', 'Twarz Smętka', 'Stanisław August', 'Ohio', '1512', 'Fakoemulsyfikacja', 'Andrzej Olszowski', 'Ministerstwo Sprawiedliwości', 'hemikolektomia', 'Tajemnicza śmierć Ariany', 'Wagnera', 'prymas', 'Scorpions', 'Castiglione i Montecchio', 'James Bradley', 'Sudanem', 'Karol de Leon', 'Poliklet', 'nieprawidłowości', 'trzy', '1810', 'sześcioramienne gwiazdy', 'Chrystus', 'Santiago de Compostela', 'zabójstwo', '1 stycznia', '1964', 'Panteon', 'Orson Welles', 'Buonarroti', 'Acropolis', 'Lublinie', 'Marcin Luter', 'Franz von Stuck i Max Klinger', 'Problemem był jednak brak wspólnych zasad gry', 'pancerna wieża dowodzenia', '', 'Wincenty Witos', 'Lech Kaczyński', 'Jiangxi', 'Kara Mustafa', 'Gdańsku', 'Komitet Obywatelski', 'Tomohiro Nishikado', 'impas', 'Warszawa', '169', 'całokształt twórczości', '', 'Kosmopolak', 'Bajkonur', 'Bałkany', 'Zeusa', 'Krawczuk Aleksander', 'Jyväskylä', 'Marsylianka', 'czerwiec', 'Witajcie', 'Mikołaj Krupski', 'Na każdym trójkącie można opisać okrąg', 'polio, poliomyelitis', 'by się zrazić', 'majora', 'rtęć', 'ząb jajowy', 'Wilczce', 'Kenosha Klosed Krotch', 'Nimrod', 'Meksyk I', 'Sejm', 'Minerwa', 'Bolko Mały', 'kanclerz', 'pismo wzorcowe', 'miecze i chłopski na kije', 'len należy zebrać', 'amerykańskie', 'Jewgienij Varga', 'Różni zoolodzy różnorodnie', 'Perseusz', 'Parys', 'Cypru', '1944']
dane_wikipedia = [x.lower() for x in dane_wikipedia]
dane_wikipedia #dla ewaluacji dane są wpisane na sztywno dla szybszego testowania

ilepoprawnych, zaliczone, dystans_L = lev(dane_wikipedia)
tabela_wikipedia = pd.DataFrame(
    {'Odpowiedzi[klucz]': klucz,
     'Odpowiedzi[Przygotowane]':dane_wikipedia,
     'Odległość Levenshteina':dystans_L,
     'Zaliczone':zaliczone
     })
tabela_wikipedia.to_csv('wikipedia.csv', index=False)

In [ ]:
tabela_wikipedia

    Odpowiedzi[klucz]  ... Zaliczone
0                alfa  ...         1
1             cięciwa  ...         0
2           w egipcie  ...         0
3                 tak  ...         0
4            mazowsze  ...         0
..                ...  ...       ...
195               tak  ...         0
196   złotego deszczu  ...         0
197               nie  ...         0
198        w czechach  ...         0
199            w 1944  ...         0

[200 rows x 4 columns]